*.cmx
*.cmi
*.o
*.native
a.out
_build/
*.info
*.s
*.disassemble
*.temp
*.img
*.aux
*.bbl
*.blg
*.log
*.error
*.pdf
*~
test_folder*
data
.history
.vscode
src/instrumentation_plugin.ml
faddr.txt.*
faddr_old.txt.*
.venv
